NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_DEV_API_BASE_URL=http://localhost:8000
NEXT_PUBLIC_TEST_API_BASE_URL=http://localhost:8001
NEXT_PUBLIC_PROD_API_BASE_URL=https://backend-ejemplo.onrender.com
NEXT_PUBLIC_SHOW_ENV_BADGE=true